@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-jetbrains-mono: "JetBrains Mono";

  /* font sizes */
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray-100: rgba(103, 103, 103, 0.63);
  --color-dimgray-200: rgba(95, 95, 95, 0.6);
  --color-darkslategray: #31304d;

  /* Border radiuses */
  --br-41xl: 60px;
  --br-3xs: 10px;
}
